<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h3 matBadge="11" matBadgeOverlap="false" matBadgeColor="accent">
        Home changed
      </h3>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
      </form>
      <div>

        <a [routerLink]="'/login'">Login</a>
      </div>
      <div>

        <a [routerLink]="'/dashboard/material2/badge'">Badge</a>
      </div>
    </div>
  </div>