.ad-general-notification-card {
    padding: 1rem !important;
    border: none;
    margin-bottom: 1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;

    .card-block {
      padding-left: 50px;
      position: relative;
    }

    .card-block a {
      color: #007b5e !important;
      font-weight: 700;
      text-decoration: none;
    }

    .card-block a i {
      display: none;

    }

    .card-block:before {
      font-family: FontAwesome;
      position: absolute;
      font-size: 39px;
      color: #007b5e;
      left: 0;
      -webkit-transition: -webkit-transform .2s ease-in-out;
      transition: transform .2s ease-in-out;
    }

    &:hover {
      -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);

      .card-block a i {
        display: inline-block;
        font-weight: 700;

      }

      .card-block:before {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
      }
    }
  }