@import './dashboard.variables.scss';
$is-dark: map-get($material-theme, 'is-dark');

@mixin ad-sidnav-tree-build-level($color, $level, $intensity) {
  
  &.mat-list-item-level-#{$level} {
    &.expanded{
      background-color:colorPhase($color, $intensity); 
      &:hover{
        background-color:colorPhase($color, $intensity * 1.4); 
      }
    }
    &:hover{
      background-color:colorPhase($color, $intensity * .7); 
    }
  }
  &.mat-list-item-level-#{ $level + 1 } {
    
      >.mat-list-item-content {
        border-left: solid colorPhase($color, $intensity) 2px;
      }
   
  }
   
  
}


@mixin ad-sidnav-tree-depth($color) {
  background-color: $color;

  
  @include ad-sidnav-tree-build-level($color, 0, 10);
  @include ad-sidnav-tree-build-level($color, 1, 20);
  @include ad-sidnav-tree-build-level($color, 2, 30);
  

}

@function colorPhase($color, $intensity) {
  @if $is-dark {
    @return lighten($color, $intensity);
  }

  @else {
    @return darken($color, $intensity);
  }

}
