
	<mat-sidenav
	  #right
	  class="sidenav right-sidenav"
	  fixedInViewport="true"
	  [attr.role]="'dialog'"
	  [mode]="'over'"
		[opened]="true"
    [position]="'end'"
    
		>
	  
			<div class="demo-content">This is demo config

					<button class="btn btn-lg btn-google btn-block text-uppercase" ><div class="login-button-icon-container" ></div><i class=""></i> Sign in with Google</button>
              
			</div>
			
      
				<div class="extended-toggler">
						<app-demo-toggle-button #demoButton (onButtonPress)="onDemoButtonPressed($event)" [isOpen]="sideNav.opened" ></app-demo-toggle-button>
				</div>
			
		
      
    </mat-sidenav>

	

  