@import '../../scss/dashboard.common.scss';

$rotateBy:'130deg';

@keyframes open-animation {
  100% {
    @include transform(rotate(-#{$rotateBy}));
  }
}

@keyframes close-animation {
  100% {
    @include transform(rotate(#{$rotateBy}));
  }
}

.settings-toggle {
  position: absolute;
  visibility: visible;
  padding: 0 0 0 12px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  >.icon-container {
    position: relative;
    top:-2px;
    line-height: 100%;
    display: inline-block;
    &.icon-container-open {
      animation-name: open-animation;
      animation-duration: .3s; // animation-iteration-count: 1;
      animation-timing-function: linear;
    }
    &.icon-container-close {
      animation-name: close-animation;
      animation-duration: .3s; // animation-iteration-count: 1;
      animation-timing-function: linear;
    }
    &:hover {
      transition: color 0.5s ease;
      color: rgb(0, 0, 139);
    }
  }
}
