<div class="app-left-sidenav-content">
  <mat-toolbar color="primary"><span class="menu-title">Menu</span></mat-toolbar>
  <div class="app-sidenav-content-middle">
    <mat-nav-list>
      <ad-nav-menu [menuSource]='mainMenu' class="app-sidenav-menu">

        <mat-list-item [ngClass]="['app-sidenav-mat-list-item', 'mat-list-item-level-'+menuNode.level, treeControl.isExpanded(menuNode) ? 'expanded' : '']" *ad-nav-nester="let menuNode=menuNode;let treeControl=treeControl;"  [routerLink]="" [ngStyle]="{paddingLeft:menuNode.level * 20 + 'px'}">

          
            <div class="app-sidenav-menu-icon">
              <fa-icon [icon]="faChevronRight"></fa-icon>

            </div>
            <div class="app-sidenav-menu-title">

              <span class="menu-title-text">{{menuNode.name}}</span>
              <span *ngIf="menuNode.badge" [matBadge]="menuNode.badgeValue | async" matBadgePosition="after"></span>
            </div>


         
        </mat-list-item>


        <mat-list-item [ngClass]="['app-sidenav-mat-list-item', 'mat-list-item-level-'+menuNode.level]" *ad-nav-item="let menuNode=menuNode;" [routerLink]="menuNode.route" routerLinkActive="app-sidenav-item-selected" [ngStyle]="{paddingLeft:menuNode.level * 20 + 'px'}" >

          
            <div class="app-sidenav-menu-icon">
              <div>
                <fa-icon [icon]="menuNode.icon || defaultIcon"></fa-icon>

              </div>
            </div>
            <div class="app-sidenav-menu-title">
              <span class="menu-title-text"> {{menuNode.name}}</span>
              <span *ngIf="menuNode.badge && ((menuNode.badgeValue | async) !== '0') " [matBadge]="menuNode.badgeValue | async"
                matBadgePosition="after"></span>

            </div>

        
        </mat-list-item>
      </ad-nav-menu>
    </mat-nav-list>
  </div>
  <div class="app-sidenav-content-bottom">

  </div>

</div>
