@import '../dashboard.variables.scss';
@import '../../style/shared-mixins.scss';
@mixin sideBorder {
  border-right-color: $app-sidnav-border-color;
  border-right-style: solid;
  border-right-width: $app-sidnav-border-width;
 // box-shadow: 3px 0 6px $app-sidnav-border-color;
}

.app-sidenav-container {

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: $app-sidnav-toolbar-height;
  }

  .app-left-sidenav-content {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    .mat-toolbar {
      >.menu-title {
        flex: 1 1 auto;
        text-align: center;
      }
    }
    .app-sidenav-menu{
      display: flex;
      
      .app-sidenav-menu-nest{
        display: flex;
      }
      .app-sidenav-menu-item{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-sidenav-menu-icon{
          flex-basis: 24px;
          font-size: 1.3rem;
          text-align: center;
          &.expanded{
            
            .ng-fa-icon, svg{
              transition: .1s ease-in-out;
              @include transform(rotate(90deg)); 
            }
           
          }
          .ng-fa-icon, svg{
            transition: .1s ease-in-out;
          }
          
        }
        .app-sidenav-menu-item-inner-container{
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
        }
        .app-sidenav-menu-title{
          padding-left: 8px;
          flex: 1 1 auto;
          >.menu-title-text{
            padding-right:16px;
          }
        }
      }
    }
    // // height: 300px;
    //box-shadow: 3px 0 6px rgba(0,0,0,.24);
    >.app-sidenav-content-top {
      overflow: none;
     
    }

    >.app-sidenav-content-middle {
      flex: 1;
      overflow: auto;
      @include sideBorder();
    }

    >.app-sidenav-content-bottom {
      overflow: none;
      border-top-color: $app-sidnav-border-color;
      border-top-style: solid;
      border-top-width: $app-sidnav-border-width;
      height: 40px;
      //background-color: red;
      //background-color: rgb(9, 0, 128);
      box-shadow: none;
      @include sideBorder();
    }
  }
}
