<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #left class="app-left-sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" [position]="'start'">

    <app-dashboard-sidenav #left></app-dashboard-sidenav>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSideNav()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="flex: 1 1 auto;">Angular Dash</span>
      <div class="">
        <mat-slide-toggle [color]="'warn'" (change)="onAppAuthorizationSlideToggle($event)" [checked]="appAuthorization.isAuthenticated">
          Logged in
        </mat-slide-toggle>
      </div>
    </mat-toolbar>

    <mat-sidenav-container class="">
      <app-dashboard-demo-sidenav #demo></app-dashboard-demo-sidenav>
    </mat-sidenav-container>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
