@import './dashboard.variables.scss';

.app-sidenav-container {
  height: 100%;

  .app-left-sidenav {
    width: 200px;
    //box-shadow: 3px 0 6px rgba(0,0,0,.24);
    //background-color: green;
    box-shadow: none;
    
  }
}

	


.ad-draghandle-draggable{
	
	&.ad-draghandle-dragging{
		cursor: grabbing;
	}
	&.ad-draghandle-hover{
		cursor: move;
	}
}