
<div [ngGrid]="gridConfig" >
    <div [ngGridItem]="{'dragHandle': '.handle'}" (itemChange)="updateItem($event)" (resize)="onResize($event)" (drag)="onDrag($event)">
        <div  ngGridItemDraghandle style='height:50px;border: 3px solid black;'>
            <div  style='width: 100px;border: 3px solid black;'>
                <!-- <div class="childHandle" style='width: 100px;border: 3px solid white;'> -->
                    <span  >This one</span>
                <!-- </div> -->
            </div>
        </div>
        
       
        Max Cols - 2<br />
        Max Rows - 3<br />
    </div>
    <!-- <div [ngGridItem]="{'dragHandle': '.handle', 'minCols': 2, 'minRows': 3}" (itemChange)="updateItem( $event)" (resize)="onResize($event)" (drag)="onDrag($event)">
        <div class="handle">
            <div class="childHandle">
                <span>Child handle</span>
            </div>
        </div>
        Min Cols - 2<br />
        Min Rows - 3<br />
    </div>
    <div [ngGridItem]="{'dragHandle': '.handle', 'minCols': 2, 'minRows': 2, 'maxCols': 4, 'maxRows': 4}" (itemChange)="updateItem( $event)" (resize)="onResize($event)" (drag)="onDrag($event)">
        <div class="handle">
            <div class="childHandle">
                <span>Child handle</span>
            </div>
        </div>
        Min Cols/Rows - 2<br />
        Max Cols/Rows - 3<br />
    </div> -->

    
    <!-- <div *ngFor="let box of boxes; let i = index" [(ngGridItem)]="box.config" (onItemChange)="updateItem(i, $event)" (onResize)="onResize($event)" (onDrag)="onDrag($event)">
        <div class="handle"></div>
        {{box.id}}
    </div>  -->

<div class="example-card-holder" *ngFor="let box of boxes; let i = index" [(ngGridItem)]="box.config" (onItemChange)="updateItem(i, $event)" (onResize)="onResize($event)" (onDrag)="onDrag($event)">

    <mat-card  class="example-card">
        <mat-card-header class="handle">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu 
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    
</div>

    



    <!-- <div [ngGridItem]="{'dragHandle': '.handle', 'fixed': true, 'col': 2, 'row': 3}" (itemChange)="updateItem($event)" (resize)="onResize($event)" (drag)="onDrag($event)">
        <div class="handle"></div>
        Fixed - moveable, resizable
    </div>
    <div [ngGridItem]="{'dragHandle': '.handle', 'fixed': true, 'draggable': false, 'col': 1, 'row': 5}" (itemChange)="updateItem($event)" (resize)="onResize($event)" (drag)="onDrag($event)">
        <div class="handle"></div>
        Fixed - not moveable, resizable
    </div>
    <div [ngGridItem]="{'dragHandle': '.handle', 'fixed': true, 'resizable': false, 'col': 5, 'row': 2}" (itemChange)="updateItem($event)" (resize)="onResize($event)" (drag)="onDrag($event)">
        <div class="handle"></div>
        Fixed - moveable, not resizable
    </div>
    <div [ngGridItem]="{'dragHandle': '.handle', 'fixed': true, 'resizable': false, 'draggable': false, 'col': 3, 'row': 4}" (itemChange)="updateItem($event)" (resize)="onResize($event)" (drag)="onDrag($event)">
        <div class="handle"></div>
        Fixed - not moveable, not resizable
    </div> -->
</div>
